*.chg
*.qsf
*.qpf
*.qdf
*.sld
db
quartus_output
*.log
*.txt
incremental_db
seed_rpt
*.rpt
*.summary
*.smsg
*.pin
*.sof
reconfig_mif
*.jdi
*.rbf
*.qws
*.done
hc_output
psl_fpga/psl/psl_A000_0001.qarlog