02_capi_graph/obj
02_capi_graph/bin
02_capi_graph/build
02_capi_graph/results
02_capi_graph/*.report

03_Reading/

accelgraph.sublime-project
accelgraph.sublime-workspace

nohup.out
.qsys_edit

03_capi_integration/synthesize_*
03_capi_integration/accelerator_sim/sim/modelsim.ini
03_capi_integration/accelerator_sim/sim/transcript
03_capi_integration/accelerator_sim/sim/vish_stacktrace.vstf
03_capi_integration/accelerator_sim/sim/vsim.wlf
03_capi_integration/accelerator_sim/sim/libraries
03_capi_integration/accelerator_sim/sim/work
03_capi_integration/accelerator_sim/sim/debug.log
03_capi_integration/accelerator_sim/sim/gmon.out
03_capi_integration/accelerator_sim/server/debug.log
03_capi_integration/accelerator_sim/server/gmon.out


